AWS_REGION=us-east-1

SOURCE_BUCKET_NAME=dnb-assignment3-source

ATHENA_OUTPUT_BUCKET_NAME=dnb-assignment3-athena-output

DYNAMODB_TABLE_NAME=DNBAssignment3FileConfig

SNS_TOPIC_NAME=DNBAssignment3FailureTopic

GLUE_DATABASE_NAME=dnb_assignment3_database

GLUE_OUTPUT_BUCKET_NAME=dnb-assignment3-glue-output